In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('OpenStreetMap_Tourist_Attractions_for_North_America.csv', low_memory=False)

In [3]:
df

,X,Y,OBJECTID,addr_city,addr_country,addr_housenumber,addr_postcode,addr_province,addr_state,addr_street,...,ref,source_transform,tourism,website,wheelchair,winter_road,wires,wood,zoo,osm_id2
0,-92.318096,14.616769,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,viewpoint,NaN,NaN,NaN,NaN,NaN,NaN,5327709923
1,-92.355947,14.653835,251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,hotel,NaN,NaN,NaN,NaN,NaN,NaN,388651468
2,-92.240303,14.745767,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,camp_site,NaN,NaN,NaN,NaN,NaN,NaN,7883004685
3,-92.433990,14.732903,611,NaN,NaN,NaN,30800,NaN,NaN,Villa del Sol,...,NaN,NaN,camp_site,https://www.misionsurfmexico.com/,NaN,NaN,NaN,NaN,NaN,7228473785
4,-92.284821,14.865885,958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,motel,NaN,NaN,NaN,NaN,NaN,NaN,4794499945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266400,-124.125931,40.685500,42976596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,information,NaN,NaN,NaN,NaN,NaN,NaN,11808672613
266401,-124.140263,40.691743,42976597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,information,NaN,NaN,NaN,NaN,NaN,NaN,11808672628
266402,-122.331648,47.608754,42976950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,information,NaN,NaN,NaN,NaN,NaN,NaN,11808581456
266403,-122.329952,47.609913,42976952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,artwork,NaN,NaN,NaN,NaN,NaN,NaN,11808720407
266404,-96.642693,40.816554,42977571,Lincoln,NaN,331,68505,NaN,NE,North Cotner,...,NE118,Bing,hotel,https://www.choicehotels.com/nebraska/lincoln/...,NaN,NaN,NaN,NaN,NaN,4242543346

In [3]:
column_names = df.columns.tolist()
print(column_names)

['X', 'Y', 'OBJECTID', 'addr_city', 'addr_country', 'addr_housenumber', 'addr_postcode', 'addr_province', 'addr_state', 'addr_street', 'addr_unit', 'amenity', 'attraction', 'bicycle', 'board_type', 'building', 'building_levels', 'description', 'ele', 'historic', 'information', 'name', 'name_en', 'name_es', 'opening_hours', 'operator', 'phone', 'ref', 'source_transform', 'tourism', 'website', 'wheelchair', 'winter_road', 'wires', 'wood', 'zoo', 'osm_id2']

In [4]:
df['addr_city'].dropna()

18                 Tapachula
21                 Tapachula
37        Tapachula, Chiapas
78                  Valdivia
84         Frontera Comalapa
                 ...
266390              Richmond
266391             Rosenberg
266397       Rivière-du-Loup
266398       Rivière-du-Loup
266404               Lincoln
Name: addr_city, Length: 14573, dtype: object

In [5]:
df1 = df[~df['tourism'].isin(['hotel','motel','hostel','guest_house','apartment'])]

In [6]:
df2 = df1[['tourism','name','addr_city']]

In [7]:
df2= df2.dropna()

In [8]:
df2

,tourism,name,addr_city
589,gallery,Beau Dégât [bo.de.ga],San Cristóbal de Las Casas
596,gallery,La Galería,San Cristóbal de Las Casas
617,gallery,La Tozi Galeria Hotel,San Cristóbal de las Casas
634,gallery,Etéreo Taller,San Cristobal de las Casas Chiapas
651,gallery,Galería MUY,San Cristóbal de las Casas
...,...,...,...
265558,gallery,Regina Piantedosi Gallery,Portsmouth
265669,caravan_site,Sandpipers Nudist Resort & RV Park,Edinburg
265881,museum,Museo del Taco,Tijuana
265979,gallery,Izzy's Raw Art Gallery,Detroit
266281,information,Pavillon Pointe-Fortune,Pointe-Fortune

In [10]:
df2['tourism'].nunique()

59

In [12]:
df2['addr_city'].nunique()

3286

In [66]:
from sentence_transformers import SentenceTransformer

# Initialize the embedding model
model = SentenceTransformer('all-MiniLM-L6-v2')
df4 = pd.DataFrame()
# Generate embeddings
df4['vectors'] = df2['name'].apply(lambda x: model.encode(x))
# Assuming df is your DataFrame
df4['metadata'] = df2.apply(lambda row: {'tourism': row['tourism'], 'addr_city': row['addr_city']}, axis=1)

In [67]:
df4 = df4.reset_index(drop=True)

In [9]:
import os
from dotenv import load_dotenv
env_path = './Apikey.env'  # Adjust the path if your file is in a different location
load_dotenv(dotenv_path=env_path)
pinecone_key = os.getenv('PINECONE_API_KEY')

In [11]:
from pinecone import Pinecone

pc = Pinecone(api_key= pinecone_key)
index = pc.Index("myscu")

In [72]:
vectors_to_upsert = [
    {
        "id": row.name,  # Directly use the index as a string
        "values": row.vectors,  # Assuming 'vectors' is a list of floats
        "metadata": row.metadata  # Assuming 'metadata' is a dictionary
    }
    for index, row in df4.iterrows()
]

# Then you can proceed with the upsert operation
# index.upsert(vectors=vectors_to_upsert, namespace="ns1")

In [77]:
def batch_upsert(vectors, batch_size=50):
    # Split the data into batches
    for i in range(0, len(vectors), batch_size):
        batch = vectors[i:i + batch_size]
        try:
            index.upsert(vectors=batch, namespace="travel_embedding")
            print(f"Batch {i//batch_size + 1} upserted successfully.")
        except Exception as e:
            print(f"Failed to upsert batch {i//batch_size + 1}: {e}")

# Assuming 'vectors_to_upsert' contains all your vectors
batch_upsert(vectors_to_upsert, batch_size=50)

Batch 1 upserted successfully.
Batch 2 upserted successfully.
Batch 3 upserted successfully.
Batch 4 upserted successfully.
Batch 5 upserted successfully.
Batch 6 upserted successfully.
Batch 7 upserted successfully.
Batch 8 upserted successfully.
Batch 9 upserted successfully.
Batch 10 upserted successfully.
Batch 11 upserted successfully.
Batch 12 upserted successfully.
Batch 13 upserted successfully.
Batch 14 upserted successfully.
Batch 15 upserted successfully.
Batch 16 upserted successfully.
Batch 17 upserted successfully.
Batch 18 upserted successfully.
Batch 19 upserted successfully.
Batch 20 upserted successfully.
Batch 21 upserted successfully.
Batch 22 upserted successfully.
Batch 23 upserted successfully.
Batch 24 upserted successfully.
Batch 25 upserted successfully.
Batch 26 upserted successfully.
Batch 27 upserted successfully.
Batch 28 upserted successfully.
Batch 29 upserted successfully.
Batch 30 upserted successfully.
Batch 31 upserted successfully.
Batch 32 upserted successfully.
Batch 33 upserted successfully.
Batch 34 upserted successfully.
Batch 35 upserted successfully.
Batch 36 upserted successfully.
Batch 37 upserted successfully.
Batch 38 upserted successfully.
Batch 39 upserted successfully.
Batch 40 upserted successfully.
Batch 41 upserted successfully.
Batch 42 upserted successfully.
Batch 43 upserted successfully.
Batch 44 upserted successfully.
Batch 45 upserted successfully.
Batch 46 upserted successfully.
Batch 47 upserted successfully.
Batch 48 upserted successfully.
Batch 49 upserted successfully.
Batch 50 upserted successfully.
Batch 51 upserted successfully.
Batch 52 upserted successfully.
Batch 53 upserted successfully.
Batch 54 upserted successfully.
Batch 55 upserted successfully.
Batch 56 upserted successfully.
Batch 57 upserted successfully.
Batch 58 upserted successfully.
Batch 59 upserted successfully.
Batch 60 upserted successfully.
Batch 61 upserted successfully.
Batch 62 upserted successfully.
Batch 63 upserted successfully.
Batch 64 upserted successfully.
Batch 65 upserted successfully.
Batch 66 upserted successfully.
Batch 67 upserted successfully.
Batch 68 upserted successfully.
Batch 69 upserted successfully.
Batch 70 upserted successfully.
Batch 71 upserted successfully.
Batch 72 upserted successfully.
Batch 73 upserted successfully.
Batch 74 upserted successfully.
Batch 75 upserted successfully.
Batch 76 upserted successfully.
Batch 77 upserted successfully.
Batch 78 upserted successfully.
Batch 79 upserted successfully.
Batch 80 upserted successfully.
Batch 81 upserted successfully.
Batch 82 upserted successfully.
Batch 83 upserted successfully.
Batch 84 upserted successfully.
Batch 85 upserted successfully.
Batch 86 upserted successfully.
Batch 87 upserted successfully.
Batch 88 upserted successfully.
Batch 89 upserted successfully.
Batch 90 upserted successfully.
Batch 91 upserted successfully.
Batch 92 upserted successfully.
Batch 93 upserted successfully.
Batch 94 upserted successfully.
Batch 95 upserted successfully.
Batch 96 upserted successfully.
Batch 97 upserted successfully.
Batch 98 upserted successfully.
Batch 99 upserted successfully.
Batch 100 upserted successfully.
Batch 101 upserted successfully.
Batch 102 upserted successfully.
Batch 103 upserted successfully.
Batch 104 upserted successfully.
Batch 105 upserted successfully.
Batch 106 upserted successfully.
Batch 107 upserted successfully.
Batch 108 upserted successfully.
Batch 109 upserted successfully.
Batch 110 upserted successfully.
Batch 111 upserted successfully.
Batch 112 upserted successfully.
Batch 113 upserted successfully.
Batch 114 upserted successfully.
Batch 115 upserted successfully.
Batch 116 upserted successfully.
Batch 117 upserted successfully.
Batch 118 upserted successfully.
Batch 119 upserted successfully.
Batch 120 upserted successfully.
Batch 121 upserted successfully.
Batch 122 upserted successfully.
Batch 123 upserted successfully.
Batch 124 upserted successfully.
Batch 125 upserted successfully.
Batch 126 upserted successfully.
Batch 127 upserted successfully.
Batch 128 upserted successfully.
Batch 129 upserted successfully.
Batch 130 upserted successfully.
Batch 131 upserted successfully.
Batch 132 upserted successfully.
Batch 133 upserted successfully.
Batch 134 upserted successfully.
Batch 135 upserted successfully.
Batch 136 upserted successfully.
Batch 137 upserted successfully.